<div class = 'track'>
    <div class="art"></div>
    <div class="info">
        <div class="title">
        </div>
        <div class="add">
            <button>Add</button>
        </div>
    </div>
</div>